.header-text, .header1 {
    border-radius:1rem;
    /*  color: rgb(104, 35, 104);
    background-color: rgba(216, 204, 204, 0.5);  
    text-shadow: #ff0000;
    text-decoration-color: #ff0000;*/
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    text-align: center;
    text-underline-position: above;
    text-decoration: underline;
    text-transform: capitalize;
    text-decoration: none;
    padding: 5px;
  }
  
  .header {
    background-color: rgb(128, 128, 128);
    height: 720px;
    padding: 10%;
    text-align: center,center;
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  .header-bg1 {
    background-image: url("../img/digital.jpg");
  }
  .header-bg2 {
    background-image: url("../img/about-img.jpg");
  }
  .header-bg3 {
    background-image: url("../img/page3img.jpg");
  }

  .header-bg4 {
    background-image: url("../img/page3img2.jpg");
  }
  .header-bg5 {
    background-image: url("../img/benefits-img.jpg");
  }
  .header-bg6 {
    background-image: url("../img/benefits-img2.jpg");
  }
  .header-bg7 {
    background-image
    : url("../img/marketing2.png");
  }
  .header-bg8 {
    background-image
    : url("../img/web.jpg");
  }

  #mainNavigation a {
    font-family: 'Cabin', sans-serif;
    font-size:1rem;
    text-transform:uppercase;
    letter-spacing:2px;
    text-shadow:1px 1px 2px rgba(4, 0, 44, 0.4)
  } 
  .dropdown-menu {
    background:rgb(52, 196, 254);
    opacity: 0.95;
  }
  a.dropdown-toggle {
    color:#031f5a !important
  }
  a.dropdown-toggle:hover {
    color:rgb(52, 196, 254) !important
  }
  a.dropdown-item {
    color:#031f5a !important
  }
  a.dropdown-item:hover {
    color:rgb(52, 196, 254)  !important;
    background-color:#031f5a  !important;
  }
  .nav-item a{
    color:#031f5a;
  }
  /*FX mobile nav button hover style*/
  .navbar-toggler:hover, .navbar-toggler-icon:hover {
    background-color:rgb(52, 196, 254)  !important;
    color:#031f5a  !important;
  }
  /*FX (an indirect change a bootstrap property for new look in dropdown menu)*/
  .nav-link{
    display: grid;
  }/*FX*/

  .navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color: red;
}
.nav-link.active:hover
{
  color:rgb(255, 95, 3);
}
  .nav-item a:hover {
    border-radius: 20%;
    padding: 15px;
    color:rgb(52, 196, 254)  !important;
    background-color:#031f5a  !important;
  }
  .nav-item{
    min-width:12vw;
  }
  #mainNavigation {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:123;
    padding-bottom:65px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
  background: -moz-linear-gradient(top,  rgb(52, 196, 254) 50%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgb(52, 196, 254) 50%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgb(52, 196, 254) 40%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
  }
  #navbarNavDropdown.collapsing .navbar-nav,
  #navbarNavDropdown.show .navbar-nav{
    background:rgb(52, 196, 254);
    opacity: 0.95;
    padding:10px;
  }
  .navbar {
    margin-top:-10px;
  }

  .box{
    padding: 15px;        
    border: 4px solid #666;
    size:50px;
}
.box {
    float:left;
}
/*footer css starts here under*/

*{
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
  box-sizing: border-box;
}

footer{
  width:100%;
  position: relative;
  Bottom: 0;
  background: linear-gradient(to right,rgb(100, 207, 249), #2d0b00);
  color: #fff;
  padding-left: 5em;
  padding-top: 5em;
  border-top-left-radius:125px;
  font-size: 13px;
  line-height: 20px;
}  
.row{
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
.col{
  flex-basis: 25%;
  }
  /*
  .col:nth-child(2), .col:nth-child(3){
      flex-basis: 25%;

  }*/

.logof {
  width: 150px;
  margin-bottom: 30px;
  /*background-image: url("../img/nika2.png");*/
  background-size: cover;
}

.col h3, h5, h2 {
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
}
.email-id{
  width: fit-content;/*
  border-bottom: 1px solid #ccc;
  margin: 20px 0;*/
}
ul li{
  list-style:circle;
  margin-bottom: 12px;
}
ul li a{
  text-decoration: none;
  color: #ccc;
}

hr{
  width: 90%;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 20px auto;
}
.copyright{
  text-align: center;
  margin-bottom: 0;
}
.underline{
  width:100%;
  height:5px;
  background: #9b9a9a;
  border-radius: 3px;
  position: relative;
  top: 25px;
  left: 0;
  overflow: hidden;
  margin-top: -20px;
}
.underline span{
  width: 15px;
  height: 100%;
  background: #fff;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 10px;
  animation: moving 2s linear infinite
}


@keyframes moving{
  0%{
      left: -20px;}
  100%{
      left: 100%;
  }
}
@media (max-width: 600px){
  footer{
      bottom: unset;
    }
  .col{
      flex-basis: 100%;
    }
  /*
  .col:nth-child(2), .col:nth-child(3){
          flex-basis: 100%;
    }*/
}

form.foot {
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
    
}
form.foot .far{
    font-size: 18px;
    margin-right: 10px;
}
form.foot input{
    width: 100%;
    background: transparent;
    color:#ccc;
    border: 0;
    outline: none;

}
form button{
    background: transparent;
    border: 0;
    color:white;
    outline: none;
    cursor: pointer;
}
form-button .fas{
    font-size: 26px;
    color: #ccc
}

.social-icons .fab, .fa{
    width: 35px;
    height:35px;
    border-radius: 50%;
    text-align: center;
    line-height: 2.3rem;
    font-size: 1em;
    cursor: pointer;
    margin-bottom: 2px;
    border-top-left-radius: 0;
    background-color: #021e77;
    color:rgb(52, 196, 254)
}

@media (max-width:450px){
  .social-icons .fab, .fa{
    width: 30px;
    height: 30px;
    line-height: -1rem;
      /*changed the logo arrangement to verticle*/
      display: grid;
  }
}
.social-icons .fab:hover, .fa:hover{
  filter: drop-shadow(1px 1px 2px navy);
  transform: translate3d(-1px, -1px, -11px);
}

#socialh {
  position: absolute;
  right:0;
  top: 0;
}

#contacth {
  position: absolute;
  left:0;
  top: 0;
}

.plabel {
  height: 40px; 
  width: fit-content;
  font-size:1em;
  float: right;
  text-align: right;
}

.plabeler {
  align-items:right;
  height: 40px;
  display: block;
}

.pgbarer
{
margin-left:-1em;
height:40px;
}

.pgbar {
  height: 40px;
} 

@media (max-width: 770px) {
  .plabel {
    text-align: right;
    height: 40px;
    font-size:x-small;
  }
  
  .plabeler {
    max-width:90%;
    height: 40px;
  }
  
  .pgbarer{
    height: 40px;
  }

  .pgbar{
    height: 40px;
  }
}

/*adding to logo class from FX.css*/
.logo {  
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -35px;
  margin-top:20px;
  max-width: 200px;
  min-width: 200px;
  width: 200px;
  filter: drop-shadow(1px 1px 2px rgb(151, 126, 0));
}
.logo:hover {
  filter: drop-shadow(1px 1px 2px navy);
  transform: translate3d(-1px, -1px, -11px);
}
/*End of modifications to logo class from FX.css*/

table {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.containers {
  border-radius: 5px;
  padding: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 30px;
}

.tc1 {
  color: rgb(52, 196, 254);
}
.bg-tc1 {
  background-color: rgb(52, 196, 254);
}
.tc2{
  color: rgb(219, 6, 0);
} 
.bg-tc2 {
  background-color: rgb(219, 6, 0);
}
.tc3 {
  color: #021e77;
} 
.bg-tc3{
  background-color: #021e77;
}

.myimg {
  width: 100%;
  height: fit-content;
}

/*tools that we use*/
